

html,body{
			font-size:  16px;
			font-family: 'Squada One', cursive;
			color: #0a4e3d;
			min-height: 100vh;
			max-width: 100%;
			margin: 0;
  			padding: 0;

  			
  			
}

body {
	background-image: url('images/DesktopBG.png');
	background-repeat: no-repeat;

}
.wrapper{
	overflow-x: hidden;
	width: 100%;   		
}





.ECONOSH{
	top:27px;
	left: 58px;	 
	position:absolute;
}

.nav-container {
	bottom: 0;
	z-index: 10;
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.navbutton{
	display: flex;
	justify-content: space-evenly;
	
}


.ecolist{
	  
	top:27px;
	left: 17px;	 
	position:absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 100vh;


}

.ecolist img{
	
	position: relative;
	padding-bottom: 25px;
	max-width: 100%;
	height: auto;
}
 

  

.content{
	top:27px;
	left: 184px;
	background-size: auto;
	position:absolute;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	max-height: 100vh;

}

.content img{
	max-width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 110px;
	
	
}

.infocontent{
	width: 340px;
	height: 650px;
}


.topcircle{
	top:100px;
	left: 22px;	 
	position:absolute;
	display: flex;
	max-width: 340px;
	height: 650px;
	margin: 0 auto;

}

.topcircle p{
	position: absolute;
	font-size: 20px;
	width: 173px;
	top: 25px;
	left: 25px;
	text-align: center;
	color: #0a4e3d;

}


.bottomcircle{
	top:322px;
	left: 101px;	 
	position:absolute;
	display: flex;
	max-width: 340px;
	height: 650px;
	margin: 0 auto;
	 
}

.bottomcircle p{
	position: absolute;
	font-size: 20px;
	width: 170px;
	top: 10px;
	left: 25px;
	text-align: center;
	color: #0a4e3d;
	 
}

.backgroundcontent{
	height: auto;
	max-width: 100%;
}


.backgroundcontent img{
	left:0;
	right: 0;
	top:0;
	position:absolute;
	justify-content: space-evenly;

}

.risboheader h{
	font-weight: Bold;
	font-size: 55px;
	position: absolute;
	right: 20px;
	color: #ea8a84;
	top: 0px;
	text-shadow: 4px 1px 5px #471A2E;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eb6a62;
}

.risboheader img{
	
	height: 33px;
	top: 239px;
	left: 19px;
	position:absolute;
}

.ecosymbol img{
	max-width: 100%;
	height: auto;
	top: 237px;
	left: 277px;
	position:absolute;
}

.directions img{
	position: absolute;
	max-width: 100%;
	height: auto;
	top: 319px;
	left: 17px;
}

.reserve img{
 	max-width: 100%;
 	height: auto;
	top: 319px;
 	left: 204px;
 	position: absolute;
}

.backgroundcontent p{
	font-size: 21px ;
	top: 260px;
	left: 17px;
	position: absolute;
	color:#0a4e3d ;
	max-width: 100%;
 	height: auto;

}

.reserve p{
	width: 300px;
	font-size: 16px ;
	position: absolute;
	color:#0a4e3d ;
	top: 340px;
	text-align: left;
	max-width: 100%;
 	height: auto;
	
}

.reserve h {
	position:absolute;
	font-size: 22px;
	color: #0a4e3d ;
	top: 430px;
	left: 17px;
	max-width: 100%;
 	height: auto; 

}

.parent {
	top: 450px;
	position: absolute;
    color:#d98581;

	}
	
